<form action="" >
  <div class="form-group">
    <label class="custom-file">
      <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" class="custom-file-input" (change)="fileChangeListener($event)" accept=".csv" value={{selectedImageFile}}/>
      <span class="custom-file-control"></span>
    </label>
  </div>
  <div class="form-group">
    <table class="table thead-default">
          <tbody class="table thead-default">
            <ng-container *ngFor="let csvRec of csvRecords;let i=index" >
              <tr class="table thead-default">
                <ng-container *ngFor="let data of csvRec;let j=index">
                  <td>{{data}}</td>
                </ng-container>
              </tr>
            </ng-container>
          </tbody>
    </table>
  </div>
  <button type="aceptar" class="btn btn-primary" (click)="guardar()">aceptar</button>
  <button type="cancel" class="btn btn-primary" (click)="fileReset()">cancelar</button>
</form>