<form action="">
  <div class="form-group">

    <label class="custom-file">
      <input type="file" id="subirArchivo" class="custom-file-input">
      <span class="custom-file-control"></span>
    </label>
  </div>
  <div class="form-group">
    <table class="table">
      <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Curso</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
    <button type="aceptar" class="btn btn-primary">aceptar</button>
    <button type="cancel" class="btn btn-primary">cancelar</button>
  </div>
</form>