
<div class="container">

  <div class="row justify-content-md-center">
    <div class="col-12 col-md-auto">
      <h2>Crear Curso</h2>
    </div>

  </div>
  <form class="form-control">
    <div class="row justify-content-md-center">
      <div class="form-inline ">
        <label for="exampleSelect1">
          <h5>Curso</h5>
        </label>
          <select class="form-control" id="exampleSelect1" >
            <option *ngFor="let item of lista">{{item.nivel}}</option>
          </select>
      </div>
      <div class="col-1">
      </div>
      <div class="form-inline">
        <label for="exampleSelect2">
          <h5>Paralelo</h5>
        </label>
        <select class="form-control" id="exampleSelect1">
          <option  *ngFor="let item of lista">{{item.paralelo}}</option>
         </select>
      </div>
    </div>
    <button type="aceptar" class="btn btn-primary">aceptar</button>
    <button type="cancel" class="btn btn-primary">cancelar</button>
  </form>
</div>
<router-outlet></router-outlet>